<h1><a href="{% url 'show_recipe' pk=recipe.pk %}">{{ recipe.title }}</a></h1>
{% if detail %}
    <p><a href="{% url 'edit_recipe' pk=recipe.pk %}">Edit</a></p>
    <p><a href="{% url 'remove_recipe' pk=recipe.pk %}">Remove</a></p>
{% endif %}
<h2>{{ recipe.author.user.username }}</h2>

{% if detail %}
    <h3>Ingredients</h3>
    <ul class="ingredients">
    {% for ingredient in recipe.measuredingredient_set.all %}
        <li class="ingredient">{{ ingredient.amount.normalize }} {{ ingredient.get_units_display }} {{ ingredient.ingredient.name }}</li>
    {% endfor %}
    </ul>

    <h3>Steps</h3>
    <ul class="steps">
    {% for step in recipe.steps.all %}
        <li class="step">{{ step.body }}</li>
    {% endfor %}
    </ul>
{% endif %}
